/* static.css
 *
 * these styles are global, and could conflict with JSS styling
 *
 * before adding something here, there may be a JSS plugin
 */

body {
    margin: 0;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}
@media (min-width: 1600px) {
    html {
        font-size: 75%;
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 87.5%;
    }
}

body {
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    /*
    Anti-aliasing works best on light fonts on dark backgrounds. Otherwise,
    there is a loss of readability.
    */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

/*a, a:visited, a:hover, a:active {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/
