# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\src\leagueday_pwa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
